# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\P-Hag\Documents\MasterThesis\SS20-Optimizing3DVideoMaterial\source\Python_Superresolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
